<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>
	<h1>Home Page</h1>
	<div class="img_contenedor">
	<img src="/images/node.jpg" width="60%">
	</div>
	<section class="buttom_body">
	<a href="/services/"><button>Services</button></a>
	<a href="/services/desing"><button>Desing</button></a>
	</section>
</body>
</html>